[Unit]
Description=RTC clock

[Service]
ExecStart=/home/csk/csk/init/rtc.sh
 
[Install]
WantedBy=multi-user.target

[Unit]
Requires=system-modules-load.service
After=system-modules-load.service
